SDLplusplus.xcworkspace/xcuserdata/*
samples/Tetris/Tetris.xcodeproj/xcuserdata/*
samples/Snake/Snake.xcodeproj/xcuserdata/*
samples/Breakout/Breakout.xcodeproj/xcuserdata/*
samples/Widgets/Widgets.xcodeproj/xcuserdata/*
samples/Kid Icarus/Kid Icarus.xcodeproj/xcuserdata/*
